autopep8==2.0.2
certifi==2023.5.7
charset-normalizer==3.2.0
greenlet==2.0.2
idna==3.4
mypy==1.4.1
mypy-extensions==1.0.0
pip-autoremove==0.10.0
psycopg2-binary==2.9.6
pycodestyle==2.10.0
requests==2.31.0
SQLAlchemy==2.0.19
tomli==2.0.1
types-psycopg2==2.9.21.10
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.7.1
urllib3==2.0.3
